.galery {
    display: inline-block;
    border: 1px solid hsl(0, 0%, 60%);
    margin: 5px;
    width: 200px;
}

.galery .description {
    padding: 10px;
    text-align: center;
}

.galery:hover {
    border: 1px solid hsl(0, 0%, 20%);
}
.galery img{
    width: 100%;
    height: auto;
}