*{
    box-sizing: border-box;
}
.container{
    background-color: hsl(0, 0%, 35%);
    height: 100vh;
}
.box{
    background-color: hsl(0, 0%, 100%);
    border: 2px solid;
    padding: 25px;
    height: auto;
    width: 50%;
    float: left;
    text-align: center;

    min-height: 50%;
}