div{
    background-color: hsl(0, 100%, 70%);
    width: 100px;
    height: 100px;
    display: block;
}
span{
    background-color: hsl(183, 100%, 65%);
    width: 100px;
    height: 100px;
    display: inline;
}