.icons {
    text-align: center;
}
.icons a{
    text-decoration: none;
    margin-right: 20px;
}
.fa-solid.fa-house.fa-5x {
    color: hsl(0, 0%, 60%);
}
.fa-solid.fa-house.fa-5x:hover{
    color: hsl(0, 0%, 70%);
}
.fa-brands.fa-twitter.fa-5x{
    color: hsl(185, 100%, 50%);
}
.fa-brands.fa-twitter.fa-5x:hover{
    color: hsl(185, 100%, 60%);
}
.fa-brands.fa-youtube.fa-5x{
    color: hsl(0, 100%, 50%);
}
.fa-brands.fa-youtube.fa-5x:hover{
    color: hsl(0, 100%, 60%);
}
.fa-brands.fa-tiktok.fa-5x{
    color: hsl(0, 0%, 0%);
}
.fa-brands.fa-tiktok.fa-5x:hover{
    color: hsl(0, 0%, 30%);
}