body{
    background-color: hsl(0, 0%, 10%);
}
#box{
    width: 250px;
    height: 250px;
    background-color: hsl(0, 100%, 70%);
    font-size: 13em;
    text-align: center;
    animation-name: glow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
    animation-timing-function: ease-in-out;
}
@keyframes slideLeft{
    from{transform: translateX(300%);}
}
@keyframes slideRight{
    to{transform: translateX(300%);}
}
@keyframes slideUp{
    from{transform: translateY(300%);}
}
@keyframes slideDown{
    to{transform: translateY(300%);}
}
@keyframes rotate{
    50%{transform: rotate(360deg);}
}
@keyframes grow{
    50%{transform: scale(2, 2);}
}
@keyframes shrink{
    50%{transform: scale(0.5, 0.5);}
}
@keyframes fade{
    50%{opacity: 0;}
}
@keyframes colorChange{
    0%{background-color: hsl(0, 100%, 60%)}
    20%{background-color: hsl(40, 100%, 60%)}
    40%{background-color: hsl(85, 100%, 60%)}
    60%{background-color: hsl(160, 100%, 60%)}
    80%{background-color: hsl(242, 100%, 60%)}
    100%{background-color: hsl(319, 100%, 60%)}
}
@keyframes glow{
    50%{box-shadow: 0px 0px 50px hsl(60, 100%, 60%);}
}