h1{
    text-shadow: 3px 3px 3px hsl(0, 100%, 61%), -3px -3px 3px rgb(56, 255, 228);
}
#box1{
    width: 100px;
    height: 100px;
    background-color: rgb(234,234,234);
    box-shadow: 3px 3px 5px;
}