#box1{
    width: 200px;
    height: 200px;
    background-color: hsl(195, 100%, 74%);
    position: sticky;
    top: 0px;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: hsl(0, 100%, 60%);
    position: absolute;
    top: 50px;
    left: 50px;
}